* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* header/ nav bar styles start */
header {
    padding: 20px 35px;
    background-color: navy;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-image: url(../images/hero-bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
}
header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: navajowhite;
    text-shadow: 0 0 10px purple;
}
header a {
    text-decoration: none;
    color: mediumspringgreen;
}
header nav {
    margin: 7px 0;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px blueviolet;
}
header nav ul li a:hover {
    background-color: greenyellow;
    color: rebeccapurple;
    border-radius: 15px;
    text-shadow: none;
}
/* header/ nav bar styles end */

/* style all section tags */
section {
    padding: 60px;
}
/* hero styles start */
.hero {
    background-image: url(../images/hero-bg.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
    background-position: 80%;
}
.hero-cta {
    width: 35%;
    text-align: right;
    margin: 3.5%;
    color: yellow;
    font-size: 18px;
    line-height: 1.2;
}
.hero-cta h2 {
    font-style: italic;
    font-size: 55px;
    color: peachpuff;
    text-shadow: 0 0 10px purple;
}
.hero-form {
    border: 3px solid lightsteelblue;
    background-color: olivedrab;
    padding: 20px;
    color: lightcyan;
    width: 40%;
    margin: 3.5%;
    border-radius: 15px;
    box-shadow: 0 0 10px midnightblue;
}
.hero-form button:hover {
    background-color: lightskyblue;
}
.hero-form h3 {
    font-size: 24px;
    margin: 0;
}
.hero-form p {
    margin: 5px 0 15px 0;
}
.form-input {
    border: 1px solid olive;
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: darkgreen;
    width: 100%;
    margin-bottom: 15px;
    border-radius: 10px;
    background-color: lightpink;
}
.form-input:focus {
    background-color: tan;
    outline: none;
}
.hero-form label {
    margin: 0 5px;
}
.hero-form button {
    color: darkblue;
    background-color: palegreen;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
}
/* hero styles end */

/* section title styles start */
.section-title {
    font-size: 48px;
    border-bottom: 3px solid;
    color: hotpink;
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 50%;
}
.primary-border {
    border-color: brown;
}
.secondary-border {
    border-color: brown;
}
/* section title style end */

/* what we do section start */
.intro p {
    line-height: 1.7;
    color: darkcyan;
    width: 80%;
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
}
/* what we do style end */

/* what you do style start */
.steps {
    background: thistle;
}
.step {
    margin: 50px auto;
    padding-bottom: 50px;
    width: 80%;
    border-bottom: 1px solid navy;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.step:last-child {
    border-bottom: none;
}
.step h3 {
    color: lightcyan;
    font-size: 46px;
    flex: 1 30%;
}
.step-info {
    flex: 2 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.step-img {
    flex: 1 12%;
    margin-right: 20px;
}
.step-img img {
    max-width: 100%;
}
.step-text {
    flex: 12;
}
.step-text p {
    color: yellow;
    font-size: 18px;
}
.step-text h4 {
    font-size: 26px;
    line-height: 1.5;
    color: darkgreen;
}
/* what you do style end */